<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.qy.implatform.mapper.ShortVideoMapper">

    <sql id="queryBase">
        SELECT id,
               user_id,
               object_id,
               type,
               scope,
               title,
               description,
               video_url,
               cover_url,
               duration,
               width,
               height,
               size,
               play_count,
               like_count,
               favorite_count,
               comment_count,
               status,
               create_time,
               update_time,
               deleted
        FROM im_short_video
    </sql>

    <select id="getRecommendShortVideos" resultType="xyz.qy.implatform.entity.ShortVideo">
        <include refid="queryBase"/> t1
        WHERE t1.deleted = 0
        AND t1.status = '2'
        <choose>
            <when test='dto.section != null and (dto.section.equals("follow") or dto.section.equals("follows"))'>
                AND t1.scope in (3, 9)
            </when>
            <when test='dto.section != null and (dto.section.equals("friend") or dto.section.equals("friends"))'>
                AND t1.scope in (2, 9)
            </when>
            <otherwise>
                AND t1.scope = 9
            </otherwise>
        </choose>
        <if test="dto.userId != null">
            AND t1.user_id = #{dto.userId}
        </if>
        <if test="dto.objectId != null">
            AND t1.object_id = #{dto.objectId}
        </if>
        <if test="dto.type != null and dto.type != ''">
            AND t1.type = #{dto.type}
        </if>
        <if test="dto.friendIds != null and dto.friendIds.size() > 0">
            AND t1.user_id IN
            <foreach collection="dto.friendIds" item="friendId" index="index" separator="," open="(" close=")">
                #{friendId}
            </foreach>
        </if>
        <if test="dto.follows != null and dto.follows.size() > 0">
            AND (t1.object_id, t1.type) IN
            <foreach collection="dto.follows" item="follow" index="index" separator="," open="(" close=")">
                (#{follow.targetId}, #{follow.type})
            </foreach>
        </if>
        ORDER BY t1.create_time DESC
    </select>
    <select id="getAllCharacterShortVideos" resultType="xyz.qy.implatform.entity.ShortVideo">
        <include refid="queryBase"/> t1
        WHERE t1.deleted = 0
        AND t1.status = '2'
        AND t1.scope = 9
        AND (t1.type = 'character' OR t1.type = 'template')
        ORDER BY t1.create_time DESC
    </select>

    <select id="getGroupCharacterShortVideos" resultType="xyz.qy.implatform.entity.ShortVideo">
        <include refid="queryBase"/>
        WHERE deleted = 0
        AND status = '2'
        AND scope = 9
        AND (
            <if test="dto.groupTemplateId != null">
                (
                    type = 'template'
                    AND object_id = #{dto.groupTemplateId}
                )
            </if>

            <if test="dto.groupTemplateId != null and dto.characterIds != null and dto.characterIds.size() > 0">
                OR
            </if>
            <if test="dto.characterIds != null and dto.characterIds.size() > 0">
                (
                    type = 'character'
                    AND object_id IN
                    <foreach collection="dto.characterIds" item="characterId" index="index" separator="," open="(" close=")">
                        #{characterId}
                    </foreach>
                )
            </if>
        )
        ORDER BY create_time DESC
    </select>
</mapper>
