@font-face {
  font-family: "iconfont"; /* Project id 4843012 */
  src: url('iconfont.woff2?t=1741510445611') format('woff2'),
       url('iconfont.woff?t=1741510445611') format('woff'),
       url('iconfont.ttf?t=1741510445611') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-swiper:before {
  content: "\e600";
}

.icon-grid:before {
  content: "\e671";
}

.icon-yinpinbofang:before {
  content: "\e666";
}

.icon-shejiaotubiao-40:before {
  content: "\e646";
}

.icon-xitongxiaoxi:before {
  content: "\e647";
}

.icon-minganci:before {
  content: "\e629";
}

