@font-face {
  font-family: "iconfont"; /* Project id 4843012 */
  src: url('iconfont.woff2?t=1765701177794') format('woff2'),
       url('iconfont.woff?t=1765701177794') format('woff'),
       url('iconfont.ttf?t=1765701177794') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
  content: "\e72c";
}

.icon-group:before {
  content: "\e63b";
}

.icon-email1:before {
  content: "\e856";
}

.icon-zhongzhimima:before {
  content: "\e611";
}

.icon-notice:before {
  content: "\e655";
}

.icon-yinpinzanting:before {
  content: "\e60c";
}

.icon-xindepengyou:before {
  content: "\e601";
}

.icon-qunliao:before {
  content: "\e625";
}

.icon-fabiaoqing:before {
  content: "\e64f";
}

.icon-yihuizhi:before {
  content: "\e610";
}

.icon-yuyin:before {
  content: "\e667";
}

.icon-icon-wenjian:before {
  content: "\e62a";
}

.icon-phone2:before {
  content: "\e613";
}

.icon-yinpin:before {
  content: "\e604";
}

.icon-yuyintonghua:before {
  content: "\e963";
}

.icon-tupian:before {
  content: "\e664";
}

.icon-icon_phone_accept_hover:before {
  content: "\e60d";
}

.icon-icon_phone_reject_nor:before {
  content: "\e60f";
}

.icon-shipin:before {
  content: "\e609";
}

.icon-GIF:before {
  content: "\eb95";
}

.icon-mv:before {
  content: "\e8d0";
}

.icon-swiper:before {
  content: "\e600";
}

.icon-grid:before {
  content: "\e671";
}

.icon-yinpinbofang:before {
  content: "\e666";
}

.icon-shejiaotubiao-40:before {
  content: "\e646";
}

.icon-xitongxiaoxi:before {
  content: "\e647";
}

.icon-biaoqing:before {
  content: "\e60e";
}

.icon-minganci:before {
  content: "\e629";
}

