@font-face {
  font-family: "iconfont"; /* Project id 4728505 */
  src: url('iconfont.eot?t=1759299975187'); /* IE9 */
  src: url('iconfont.eot?t=1759299975187#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1759299975187') format('woff2'),
       url('iconfont.woff?t=1759299975187') format('woff'),
       url('iconfont.ttf?t=1759299975187') format('truetype'),
       url('iconfont.svg?t=1759299975187#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-man:before {
  content: "\e7e2";
}

.icon-woman:before {
  content: "\e8f1";
}

.icon-diannao:before {
  content: "\e608";
}

.icon-hongxin1:before {
  content: "\e600";
}

.icon-email:before {
  content: "\e626";
}

.icon-QQ:before {
  content: "\e668";
}

.icon-person:before {
  content: "\e681";
}

.icon-music:before {
  content: "\e698";
}

.icon-Music:before {
  content: "\e874";
}

.icon-zhinengduihua:before {
  content: "\e607";
}

.icon-AIzhushou:before {
  content: "\e615";
}

.icon-deepseek:before {
  content: "\e603";
}

.icon-qianwen:before {
  content: "\e60b";
}

.icon-yinpinzanting:before {
  content: "\e60c";
}

.icon-aixin:before {
  content: "\e611";
}

.icon-GIF:before {
  content: "\eb95";
}

.icon-minganci:before {
  content: "\e62b";
}

.icon-yinpin:before {
  content: "\e604";
}

.icon-mv:before {
  content: "\e8d0";
}

.icon-icon-ok:before {
  content: "\e6bc";
}

.icon-yihuizhi:before {
  content: "\e610";
}

.icon-yuyintonghua:before {
  content: "\e963";
}

.icon-icon-wenjian:before {
  content: "\e62a";
}

.icon-xitongxiaoxi:before {
  content: "\e647";
}

.icon-qingniaochuanxin:before {
  content: "\e602";
}

.icon-lishijilu:before {
  content: "\e650";
}

.icon-icon_phone_accept_hover:before {
  content: "\e60d";
}

.icon-icon_phone_reject_nor:before {
  content: "\e60f";
}

.icon-dianzan:before {
  content: "\e670";
}

.icon-dianzan1:before {
  content: "\febf";
}

.icon-fabiaoqing:before {
  content: "\e64f";
}

.icon-phone2:before {
  content: "\e613";
}

.icon-tupian:before {
  content: "\e664";
}

.icon-shipin:before {
  content: "\e609";
}

.icon-qiqiaoban:before {
  content: "\e73a";
}

.icon-xiugai:before {
  content: "\e630";
}

.icon-tuichu:before {
  content: "\e631";
}

.icon-fenleiorguangchangorqitatianchong:before {
  content: "\e67d";
}

.icon-yuyin:before {
  content: "\e667";
}

.icon-biaoqing:before {
  content: "\e60e";
}

.icon-group:before {
  content: "\e601";
}

.icon-xiaoxi:before {
  content: "\e68c";
}

.icon-friend:before {
  content: "\e629";
}

.icon-shezhi:before {
  content: "\e6b9";
}

.icon-shejiaotubiao-40:before {
  content: "\e646";
}

.icon-operation:before {
  content: "\e6bb";
}

.icon-kongjian:before {
  content: "\10118";
}

.icon-diqiu:before {
  content: "\e6e4";
}

