.idea/
target/
/log/
/qy-im.iml
/im-client/im-client.iml
/im-common/im-common.iml
/im-server/im-server.iml
/im-platform/im-platform.iml

/im-platform/src/main/resources/logback-prod.xml
/im-server/src/main/resources/logback-prod.xml
/im-uniapp/node_modules/
/im-uniapp/package-lock.json
/im-uniapp/.hbuilderx
/im-uniapp/unpackage/dist

